<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} [%X{sourceThread}] %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="twitter4j.internal.http.HttpClientImp" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>